<div class="container mt-5" *ngIf="currentUser; else loggedOut">
  <div class="row">
    <div class="col-md-6 offset-md-3 p-4 back text-color">
      <header>
        <h3>
          <strong>{{ currentUser.username }}</strong> Profile
        </h3>
      </header>
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{
          currentUser.accessToken.substr(currentUser.accessToken.length - 20)
        }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <ul>
        <li *ngFor="let role of currentUser.roles">
          {{ role }}
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #loggedOut> Please login. </ng-template>
