<div class="container col-md-4 back">
  <h3 class="">Update Appointment</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mt-3">
      <label>Time: </label>

      <input
        class="form-control"
        type="time"
        [(ngModel)]="singleData.time"
        name="time"
      />
    </div>

    <div>
      <div class="text-center">
        <button class="btn btn-success mt-3" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>
