<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="https://th.bing.com/th?q=Add+User+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.3&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username" style="color: aliceblue">Doctor Name</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          
          pattern="[a-zA-Z][a-zA-Z ]+"

          #username="ngModel"
          [class.is-invalid]="username.invalid && username.touched"
          />
          <div  *ngIf="username.errors && (username.invalid && username.touched)">
            <small class="text-danger"  *ngIf="username.errors.required">username is required field</small>
            <small  class="text-danger" *ngIf="username.errors.pattern">
              Enter vaild username
            </small>
          </div>
       
      </div>
      <div class="form-group">
        <label for="email" style="color: aliceblue">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{3,3}$"
        

           #email="ngModel"
           [class.is-invalid]="email.invalid && email.touched"
        />
      
        <div class="text-danger"  *ngIf="email.errors &&  email.touched">
          <div   *ngIf="email.errors.required">Email is required field</div>
          <div  class="text-danger" *ngIf="email.errors.pattern">
            Enter vaild emailID
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" style="color: aliceblue">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          pattern="^(?=\D*\d)(?=[^a-z]*[a-z])(?=.*[$@$!%*?&])(?=[^A-Z]*[A-Z]).{8,30}$"
          #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <div class="alert-danger" *ngIf="password.errors && password.touched">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.pattern">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Doctor Register SuccessFully!
    </div>
    <div>
      <button class="btn btn-success btn-block" routerLink="/admin">
        Back
      </button>
    </div>
  </div>
</div>
