<div class="container-fluid">
  <!-- <div class="row">
  <div class="col-md-12"> -->
    <!-- Header -->
    <!-- <div class="d-flex flex-column">
      <div class="p-2">
        <div class="d-flex">
          <div class="col-sm-11"> -->


            <h2 >Your Appointments</h2>
          <!-- </div>
        </div>
      </div> -->
      <!-- table -->
      <!-- <div class="p-2">
        <div class="table-responsive">
          <table class="table back table-striped"> -->

            <div class="row">
              <div class="col-md-12">
                  <table class="table table-bordered">
            <!-- <thead>
              <tr>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Appointment Date</th>
                <th>Gender</th>
                <th>Problem</th>
                <th>Appointment Time</th>
                <th>Confirmation</th>
              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor="let appointment of appointmentData">
                <td>{{ appointment.patientName }}</td>
                <td>{{ appointment.age }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.gender }}</td>
                <td>{{ appointment.problems }}</td>
                <td>{{ appointment.time }}</td>
                <td>
                  <div class="row">
                    <div class="col-md-3">
                   <button
                    class="btn btn-primary"
                    (click)="updateTime(appointment.id)"
                  >
                    ChangeTime
                  </button>
                    </div>

                    <div class="col-md-3">

                  <button
                    class="btn btn-primary"
                    (click)="conform(appointment.time, appointment.patientName)"
                  >
                    Confirm
                  </button>
                  </div>
                  <div class="col-md-2">

                  <button
                    (click)="decline(appointment.time, appointment.patientName)"
                    class="btn btn-danger"
                  >
                    Decline
                  </button>
                </div>
                 <div class="col-md-5"> 

                </div> 

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- </div>
</div>



</div> -->