.container {
  text-align: left;
  color: aliceblue;
}
button {
  height: 4rem;
}

.para {
  opacity: 0.5;
}
h2 {
  color: lightslategrey;
}
p {
  color: rgb(3, 0, 0);
}


.image1{
  border-radius: 38px;
}
 /* .img1 {
  margin-top: 25%;
  border-radius: 20px;
}
p {
  font-family: sans-serif;
} */

.Style{
  font-family: 'Oswald', sans-serif;

}
.edit{
  border-radius: 39px;
}
.img1{
  border-radius: 39px;
}
