<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      
      <img
      class="edit"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9TUc86lk72HZ_sq6IX-0OAeSFChWgVIf8lw&usqp=CAU"
      />
    </div>
  
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <p class="para">WHO WE ARE</p>
      <h2>Why Choose</h2>
      <h2>Apollo Healthcare?</h2>
      <br />
      <p>
        Established by Dr Prathap C Reddy in 1983, Apollo Healthcare has a
        robust presence across the healthcare ecosystem. From routine wellness &
        preventive health care to innovative life-saving treatments and
        diagnostic services, Apollo Hospitals has touched more than 120 million
        lives from over 120 countries, offering the best clinical outcomes.
      </p>
      <p>
        Apollo Hospitals is indeed a pioneer and one of the foremost
        institutions for spine surgery. The spine surgery units at the various
        Apollo Hospitals locations are a conglomeration of spine specialists in
        the treatment of spinal disorders, cancers, deformities as well as
        specialists in the areas of pain management and physiotherapy.
      </p>
    </div>
    <div class="col-sm-6">
      <img
        class="img1 img-fluid"
        style="width: 583px; height: 290px"
        src="https://cdn.apollohospitals.com/dev-apollohospitals/2020/11/apollomedics-cancer-centre-lucknow.jpg"
        alt="img"
      />
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="text-center">
    <h1 style="color: blue">Centres Of Excellence</h1>
  </div>
  <br />
  <p class="text-center">
    Combining the best specialists and equipment to provide you nothing short of
    the best in healthcare
  </p>
  <br />
  <br />
  <div class="d-flex flex-wrap">
    <div class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://th.bing.com/th/id/OIP.J20mCmcN1bWlx4-92vPBGAHaEU?pid=ImgDet&w=201&h=117&c=7&dpr=1.3"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Hyperglycemia, also known as high blood sugar, typically develops when the body is unable to make proper use of insulin or has extremely low levels of insulin.
          </p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://th.bing.com/th/id/OIP.-FCpvnMcKjZFbkrqe4KFjgHaE8?pid=ImgDet&rs=1"
          alt="Card image cap"
        />
        <div class="card-body">
          <p>
            A regular sleep routine, limiting the amount of time spent in front of electronic screens, and rearranging your work schedule so that you have time for self-care
          </p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://media.istockphoto.com/photos/girl-in-hospital-bed-picture-id1134303085?k=6&m=1134303085&s=612x612&w=0&h=qONFbItMdRx3f8-VNNyJs-M3nWrTFcujXsfyq8DyEn8="
          alt="Card image cap"
        />
        <div class="card-body">
          <p>
            If you do consume sugar, keep it to a minimum and choose natural sweeteners like honey and stevia instead, as these won't have as significant of an effect.
          </p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://media.sciencephoto.com/image/f0205529/800wm/F0205529-Mature_male_patient_in_hospital_bed,_smiling.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p>
            Avoid eating foods high in sugar because consuming a lot of sugar can put your kidneys under unnecessary strain and raise your blood sugar levels.
          </p>
        </div>
      </div>
    </div>
  </div>

