<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 p-4 back">
      <div class="col-12">
        <h3
          class="fw-normal text-secondary fs-4 text-uppercase mb-4 text-center"
        >
          Appointment form
        </h3>
      </div>
      <form #loginform="ngForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <div class="col-md-6">

            
            <input
              type="text"
              class="form-control"
              placeholder="Patient Name"
              name="uname"
              [(ngModel)]="appointment.patientName"
              required
              #uname="ngModel"
              [class.is-invalid]="uname.invalid && uname.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="uname.valid || uname.untouched"
              >Name is required field
            </small>

            <br />
          </div>

          <div class="col-md-6">
            <input
              type="age"
              class="form-control"
              placeholder="Age"
              name="age"
              [(ngModel)]="appointment.age"
              required
              #age="ngModel"
              [class.is-invalid]="age.invalid && age.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="age.valid || age.untouched"
              >Age is required field
            </small>
          </div>

          <div class="col-md-6">
            <input
              type="date"
              class="form-control"
              placeholder="Enter Date"
              name="date"
              [(ngModel)]="appointment.date"
              required
              #date="ngModel"
              [class.is-invalid]="date.invalid && date.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="date.valid || date.untouched"
              >Date is required field
            </small>
          </div>
          <div class="col-md-6">
            <input
              type="time"
              class="form-control"
              placeholder="Enter Email"
              name="time"
              [(ngModel)]="appointment.time"
              required
              #time="ngModel"
              [class.is-invalid]="time.invalid && time.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="time.valid || time.untouched"
              >Time is required field
            </small>

            <br/>
          </div>
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Gender"
              name="gender"
              [(ngModel)]="appointment.gender"
              required
              #gender="ngModel"
              
              [class.is-invalid]="gender.invalid && gender.touched"
              
            />
            
            <small
              class="text-danger"
              [class.d-none]="gender.valid || gender.untouched"
              >Gender is required field
            </small>

            <br />
          </div>

          <div class="col-12">
            <input
              type="text"
              class="form-control"
              placeholder="Message"
              name="problems"
              [(ngModel)]="appointment.problems"
              required
              #problems="ngModel"
              [class.is-invalid]="problems.invalid && problems.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="problems.valid || problems.untouched"
              >Problem is required field
            </small>
          </div>
          <div class="col-12 mt-5  text-center">
            <button
              [disabled]="loginform.form.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Book Appointment
            </button>

            <button class="btn btn-success ml-3" (click)="adminNavigation()">
              Back
            </button>

            <!-- <button
              type="button"
              class="btn btn-outline-secondary float-end me-2"
            >
              Cancel
            </button> -->
            <br />
          </div>
          <!-- <div class="col-12 mt-5  text-center" > -->
          
            <!-- <button class="btn btn-primary " (click)="nav()">
              Your Appointment Details
            </button> -->
            <!-- <a style="color: white">If Already Requested?</a> -->

            <!-- <button class="btn btn-success" (click)="adminNavigation()">
              Back to admin
            </button>
          </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
