<div class="container">
  <h2>Doctor Details</h2>

  <table class="table-responsive">
    <thead class="table">
      <tr>
        <th>S.No</th>
        <th>Doctor name</th>
        <th>email</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="table">
      <tr *ngFor="let doc of data; let i = index">
        <td>{{ i + 1 }}</td>

        <td>{{ doc.username }}</td>
        <td>{{ doc.email}}</td>

        <td>
          <button
            class="btn btn-danger"
            style="margin-left: 10px"
            (click)="onDelete(doc.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-success" routerLink="/admin">Back</button>

</div>
