.navbartitle {
  color: rgb(255, 255, 255);
}
.navbartitle:hover {
  color: rgb(255, 174, 0);
}
.navbar {
  background-color: rgba(255, 255, 255, 0.196);
}
.sc_title {
  color: rgb(255, 174, 0);
  font-weight: 700;
  font-size: 35px;
}
img {
  width: 3rem;
}
.sc_para {
  font-size: 30px;
}
