<div class="container">
  <div class="col-sm-12 main-content">
    <!-- Header -->
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="d-flex">
          <div class="col-sm-11">
            <h2>Patient Report</h2>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table back table-striped back">
            <thead>
              <tr>
                <th>Patient Name</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let conformMessage of message">
                <td>{{ conformMessage.patientName }}</td>
                <td>
                  {{ conformMessage.message }} At {{ conformMessage.time }}
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-success" (click)="adminNavigation()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
