/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Akshar"; */
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  background-color: rgb(210, 235, 255);
}
