<div class="mt-5">
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://riseapps.co/wp-content/uploads/2020/05/img_Doctor-Appointment-App-1024x768-min-1024x768.jpg"
          />
        <div class="card-body">
          <button
            type="button"
            class="btn btn-primary"
            (click)="appointment()"
          >
            Patient Appointment
          </button>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-sm-3">
      <div class="card">
      <img 
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiba6pYBAQZfHyt7rsTytq8fMVAzk4OX4Baw&usqp=CAU">
        <div class="card-body">
          <button
            type="button"
            class="btn btn-warning "
            (click)="docdetails()"
          >
            Doctor Availability
          </button>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://www.slidegeeks.com/pics/dgm/l/m/Medical_Report_Patient_With_Physician_Prescription_Ppt_PowerPoint_Presentation_File_Background_PDF_Slide_1-.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <button
            type="button"
            class="btn btn-danger"
            (click)="report()"
          >
            Patient Report
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.dribbble.com/users/2334733/screenshots/11919985/login_4x.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <button
            type="button"
            class="btn btn-success"
            (click)="adddoctor()"
          >
            Add Doctor
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- </div> -->


